.leftContainer {
  box-sizing: border-box;
  padding: 0.4rem;
  /* border: 1px solid red; */
  width: 35%;
  height: 100vh;
  overflow-y: auto;
  background-color: #292f3f;
}

.leftContainer::-webkit-scrollbar {
  display: none;
}

.searchBar {
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding: 0.3rem;
  background: #fffcf9;
  padding-inline-end: 1em;
  position: relative;
  border-radius: 4px;
  width: 90%;
}

.searchBar label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
}

.searchBar input {
  width: 100%;
  padding-left: 1em;
  outline: none;
  background: none;
  border: 0;
}

.searchBar svg {
  height: 25px;
  padding-left: 0.7em;
}

.conversationList {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}

.header span {
  font-size: 0.7rem;
  letter-spacing: 1px;
}

.header svg {
  height: 20px;
  width: 35px;
  cursor: pointer;
}
