.container {
  display: flex;
  align-items: center;
  margin: 4px 0;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 18px;
}

.container:hover,
.active {
  background: #7A8194;
}

.imgDiv {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.imgDiv img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}

.userData {
  /* border: 1px solid black; */
  width: 200px;
  overflow: hidden;
  margin-left: 1.3em;
  color: white;
}

.userData .displayName{
  font-size: 1.3em;
  font-family: 'Quicksand', sans-serif;
  text-transform: capitalize;
}

.userData p {
  margin: 5px 0;
}
